{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">Who am I?.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hello, whoever is reading this...if you already know me then you can, see
          around the site and read the blogs, well if you don't know me, then hey myself Anagh.
          A boy from a small town in India, who's curious, about many things, and figuring things out.
          Learning things, building thing, breaking the built ones in the process, but overall enjoying it
          somehow I guess.
        </p>
        <p>
          This blog site is also the result of this learning process. I developed some new skills, and
          thought to use it to make something and this is the most simple thing I could have thought of.
          Here I will try to be consistent, and write some thing I don't know what, but I will, and if you are
          interested you can visit and read it and also connect with me if you want to.
        </p>
        <p>
          So ya! this is me, doing thing that I feel is good, and the person reading, is also welcomed to
          share their ideas and their thoughts through the blogs, make this a place where you can express yourself
          and maybe someone be inspired from you, you never know!!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
